body {
    background-color: black;
    margin: 0;
}
.container {
    padding: 10px;
}
.landing {
    display: flex;
    flex-direction: column;
    justify-self: center ;
    color: white;
    text-align: center;
    max-width: 600px;
    padding: 20px;
}
.imgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; 
}
.imgContainer img {
    width: 370px;
    height: 350px;
    border-radius: 10px;
}